<h2>GAF Objects and Events</h2>
<p>This section details some of the major objects and events within the Genetic Framework for .Net.</p>

<a href="/gaf/section/201" class="btn-u pull-right">Next ></a>

<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>
