<pre>Please note that GAF Lab is more of an idea than a fully developed product. 
I would welcome ideas and requirements from <a href="/gaf">GAF</a> users.

- John Newcombe</pre>


<h2>GAF Lab <span>[beta]</span></h2>
<h3>Introduction</h3>

<a href="/Content/img/gaf/8/gaflab_large.png" target="_blank"><img class="pull-right" src="/Content/img/gaf/8/gaflab.png" alt="Screenshot of the GAF Lab Application." ></a>

<p>Gaf Lab is an application that is designed to host a genetic algorithm
created using the Genetic Algorithm Framework for .Net. Existing GAF based GAs can, with some minor
modifications, be used with GAF Lab.</p>

<p>The application allows GA parameters to be adjusted whilst the GA is running. In addition, statistics are 
reported to aid in the parameter selection process and to evaluate the GAs performance.</p>

<p>The product is a cross platform .Net/Mono application written using the Gtk toolkit and
runs on Linux, OSX and Windows. See <a href="/gaf/section/801">GAF Lab Installation</a> for details.</p>

<h3>Features</h3>

<ul>
<li>Reatime adjustment of GA and operator parameters.</li>
<li>Genetic Operators can be enabled and disabled whilst the GA is running.</li>
<li>The product is designed to work with any existing GAF based GA.</li>
<li>The application constantly reports on fitness, convergence and diversity.</li>
<li>Code generation provides the code required to implement the GA, once defined.</li>
<li>Cross platform, tested on Debian, Mint, Arch Linux, OSX 10.11.5 and Windows 10 (<a href="/gaf/section/801">see Instalation</a>).</li>
</ul>

<h3>Realtime Adjustment of Parameters</h3>
<img class="pull-right" src="/Content/img/gaf/8/gaflab_operators.png" alt="Screenshot of the GAF Lab Application." >
<p>Most of the parameters of the GA and genetic operators can be adjusted whilst the GA is running. This can speed up the 
	process of determining the optimum settings for a particular GA.</p>
<h3>Adding and removing Operators</h3>
<p>Each operator can be added or removed as required by clicking the 'enabled' checkbox. This can be done even when the GA is running, 
making it a simple task to experiment with the available operators.</p>

<h3>Monitoring the GA</h3>
<p>The monitor pane shows the status of the GA during its run. For binary chromosome types the average hamming distance 
(the average distance between all pairs of binary strings in a population) is used to derive
indicators of diversity and convergence. Fitness diversity is also shown and used to derive alternative indicators 
	for diversity and fitness. More measures will be added as they are developed.
</p>
<p>The Distribution of Fitness display gives a visual representation of where the concentration of fitness values lie, within the fitness value range (0.0 - 1.0).</p>
<img class="" src="/Content/img/gaf/8/gaflab_monitoring.png" alt="Screenshot of the GAF Lab Application." >

<span class="clearfix"></span>
<h3>The Code Generator</h3>
<p>The Source Code pane shows the source code required to implement the currently configured GA. This means that once the GA has been optimised 
for use within a particular domain, the source can be copied directly into a Visual Studio or Xamarin Studio project.</p>
<img class="" src="/Content/img/gaf/8/gaflab_source.png" alt="Screenshot of the GAF Lab Application." >

<span class="clearfix"></span>
<a href="/gaf/section/801" class="btn-u pull-right">Next ></a>


<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>
