<h2>Fitness and Terminatation</h2>
<p>
    Fitness refers to the assessment of a solution provided by the genetic algorithm. 
    For example if the GAF is being used to optimise the shape of a fan blade, the genetic 
    algorithm will constantly present a solution representing a collection of fan blade parameters to the fitness 
    function for evaluation. If you are a developer using the GAF, the fitness function is 
    where your effort should be focused as this is what controls the process. In the example above
    the developer is responsible for implementing a fitness function that can evaluate any
    given set of parameters representing a fan blade.
</p>
<p>
    Stopping the genetic algorithm, hopefully once it has a suitable solution 
    to the problem, is carried out by the Terminate function. This function is 
    provided by the developer and passed to the GAF as a delegate at which point it will 
    be called periodically by the GAF as required.
</p>


<a href="/gaf/section/301" class="btn-u pull-right">Next ></a>

<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>