

<h2>Commercial Support and Development</h2>

<img src="/Content/img/jn_sketch_95x132.jpg" class="pull-left img-responsive"/>
<p>If this product is of interest and you require commercial support and/or development for your project, please feel free to get in touch.</p>
<p>Typically, following an initial discussion, I would send out a Statement of Work. This would be normally be a singe page 
	document describing the relationship, costs, deliverables, maximum billable hours etc. In return I would sign an NDA agreement.</p>
<p>The cost of development support is 560GBP per day. Partial days and ad-hoc periods of support are billed on a pro-rata basis, 
	allowing support to be provided in a flexible way just as it is needed for your particular project.</p>
<h2>Non-Commercial Support</h2>
<p>Just need to ask a few questions? please feel free to <a href="">get in touch</a>.</p>

<h3>Contact Details</h3>
@Html.Partial("_Contact")

<script>
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
