<h2>Creating an Auto-Mutate Operator</h2>
<h3>Introduction</h3>
<p>There are two methods for producing a custom Genetic Operator for use with the Genetic Algorithm Framework for .Net. 
The first is the simplest and involves creating a C# class that implements the GAF.IGeneticOperator interface. 
The second method is to derive a new Genetic Operator from an existing one. This example will creating an 'Auto-Mutate' 
Genetic Operator using the second method.</p>
<h3>Auto-Mutation</h3>
<p>Watson (2003) discussed an approach that used a non-phenotype gene within the chromosome that could be 
used to increase the mutation probability. This additional gene was treated to the same genetic operations 
as the other genes, however, it was not used during chromosome decoding process. The gene was simply used 
to modify the mutation probability.</p>
<p>The class AutoMutate in the code below shows an Auto-Mutate operator that has been built by deriving 
from the existing BinaryMutate operator of the GAF. This process makes it very simple to create an operator 
that could increase the mutation probability depending upon the non-phenotype gene’s value.</p>
<p>In this implementation, a value of 1 increases the probability by a factor of 5, 10 or 20 depending upon 
the configuration. A value of 0 has no effect on the mutation probability. The code for this extended operator 
is shown below. As the non-phenotype gene is subject itself, to this increased probability, there is a greater 
probability that the gene will be changed from 1 to 0 than from 0 to 1. The effect therefore, is that as 
convergence occurs, less and less chromosomes are subject to this increased mutation rate. However, if the 
landscape changes significantly, other chromosomes not affected by genetic operators come in to play. Those 
with the non-phenotype gene will increase the mutation probability rate once again, until the GA converges 
towards the new solution. The process will continue in this manner at every significant change in landscape. 
This Auto-Mutation process is explained in greater detail in Watsons paper (see References below).</p>
<p>In this example the last gene is assumed to be the non-phenotype gene. In order to use this operator, 
simply create a chromosome with an extra gene. Set this gene to a random value and do not use the gene to 
store information (non-phenotype gene).</p>

<h3>Example Code</h3>
<p><em>This code and the compiled assembly is avalaible via <a href="/gaf/section/5">Docker and BitBucket</a>.</em></p>
<pre><code>@Html.Action("LoadCodeFile", "Gaf", new { filename = "/Content/txt/gaf/503/AutoMutate.cs.txt" })</code></pre>
<pre><code>@Html.Action("LoadCodeFile", "Gaf", new { filename = "/Content/txt/gaf/503/AutoMutateFactor.cs.txt" })</code></pre>

<h3>References:</h3>
<p>Watson, T. (2003) An Investigation into Cooperative Behaviour: Altrurism and Evolutionary Computing. 
<em>Submitted in partial fulfilment of the requirements for the degree of Doctor Of Philosophy DeMontfort Universiity 2003</em></p>

<a href="/gaf/section/504" class="btn-u pull-right">Next ></a>
<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>