<h2>The GAF Evaluation Server</h2>

<p>The GAF Evaluation Server is a simple network server that can perform GA evaluations. 
The product can be installed on any number of machines and allows the evaluation of a GA 
to be distributed across the network.</p>
<p>The product can most easily be installed using the GAF Docker image.
Installing and configuring a Docker based Evaluation Server, with service discovery, is detailed in 
	the following article <a href="/gaf/section/703">Creating a GAF Evaluation Server</a>.</p>

<p>The GAF Evaluation Server supports service discovery and, the configuration detailed in the afore 
	mentioned article, includes a Consul service discovery component which allows clients to find 
available services and monitor there status via a web browser.</p>

    <a href="/gaf/section/601" class="btn-u pull-right">Next ></a>

<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>