<h2>Creating a GAF Evaluation Server</h2>

<p>This section details how to create a GAF Evaluation Server using the GAF Docker and
	GAF Consul images. The GAF Evaluation Server allows GA evaluations to be undertaken on a 
	network of computers and the GAF Console image provides service discovery services.
See the article <a href="/gaf/section/506">Evaluating on a Network of Computers</a></p>

<p>Details of how to install Docker and Docker Compose can be found <a href="/gaf/section/7">here</a>.</p>

<h4>Configuring the Servers</h4>

<p>For all nodes (servers) it is necessary to install the Consul and GAF Docker images using the following commands.</p>

<pre><code># docker pull johnnewcombe/consul
# docker pull johnnewcombe/gaf</code></pre>

<p><em>In this example Debian 8 is being used for all nodes. OSX or Windows are also supported by Docker.</em></p>

<h4>Using Docker Compose</h4>
<p>Using Docker Compose to start or stop the Consul and GAF Evaluation Servers is simply a metter of creating a 
docker-compose.yml file and, from within the folder where the file is located, running the following commands respectively.</p>
<pre><code>docker-compose up</code></pre>
<pre><code>docker-compose down</code></pre>

<p>In this example the status of each of the servers can be seen on the following url 
<strong>http://192.168.1.90:8500</strong>. Naturally the correct IP address for
	the sepcific implementation will need to be used.</p>
<img class="img-responsive" src="/Content/img/gaf/703/consul.png">

<h4>Example Docker Compose Files</h4>
<p>An example <em>docker-compose.yml</em> file for each server is shown below. In this example the first server has a 
	hostname of D10 and the remaining servers have hostnames of D11, D12 and so on</p>
<p>Note that a docker-compose.yml file should exist on each server in any folder.</p>

<p>The following docker-compose.yml file should be used on the first server. The second file should be used on 
	subsequent servers. NOTE that the hostname and IP addresses should be adjusted for each server as appropriate 
for the specific implementation.</p>

<pre><code>version: '2'

services:

  consul-agent:

    hostname: D10

    image: johnnewcombe/consul

    container_name: consul-agent

    ports:
      - "8300:8300"
      - "8301:8301/udp"
      - "8302:8302"
      - "8302:8302/udp"
      - "8400:8400"
      - "8500:8500"
      - "53:53"

    network_mode: "host"

    command: [-server, -advertise, 192.168.1.90, -bootstrap-expect, "2"]

  gaf-server:

    image: johnnewcombe/gaf

    container_name: gaf-server

    ports:
      - "11000:11000"

    network_mode: "host"

    depends_on:
      - consul-agent

    command: [mono, GAF.EvaluationServer.exe]
		
</code></pre>

<pre><code>version: '2'

services:

  consul-agent:

    hostname: D11

    image: johnnewcombe/consul

    container_name: consul-agent

    ports:
      - "8300:8300"
      - "8301:8301/udp"
      - "8302:8302"
      - "8302:8302/udp"
      - "8400:8400"
      - "8500:8500"
      - "53:53"

    network_mode: "host"
    
    command: [-server, -advertise, 192.168.1.91, -join, 192.168.1.90]
    
  gaf-server:

    image: johnnewcombe/gaf

    container_name: gaf-server

    ports:
      - "11000:11000"

    network_mode: "host"

    depends_on:
      - consul-agent

    command: [mono, GAF.EvaluationServer.exe]
		
</code></pre>




<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>