<h2>Swap Mutate</h2>
<pre><code>public SwapMutate(double mutationProbability)
</code></pre>
<p>
    The Swap Mutate operator, traverses each gene in the population and, 
    based on the specified probability swaps one gene in the chromosome with another. 
    The aim of this operator is to provide mutation without changing any gene values.
</p>
<p>
    <a href="/blog/gaf-part-7">The Travelling Salesman problem</a> provides an example 
    of using this operator.

</p>
<a href="/gaf/section/405" class="btn-u pull-right">Next ></a>

<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>