<h2>Examples</h2>

<p>The examples detailed in this section are available in both source and compiled form in
a single Docker Image. The image is available from 
<a href="https://hub.docker.com/r/johnnewcombe/gaf/">Docker Hub</a>. 
This is probably the simplest way to try out the examples on Windows, OSX or Linux. 
Alternativley the source is available from the GAF GIT Repository.</p>

<p><a href="https://hub.docker.com/r/johnnewcombe/gaf/">https://hub.docker.com/r/johnnewcombe/gaf</a><br/>
<a href="https://bitbucket.org/johnnewcombe/gaf" target="_blank">https://bitbucket.org/johnnewcombe/gaf</a>.</p>

<h3>What is Docker</h3>

<p>Docker containers wrap up a piece of software in a complete filesystem that contains everything
it needs to run: code, runtime, system tools, system libraries.
This guarantees that it will always run the same, regardless of the environment it is running in.
The GAF Docker image is based on the official Debian 8 and includes the Mono runtime. The image and is regularly updated.</p>
<p>For details on how to run these images see the section <a href="/gaf/section/6">Using the GAF Docker Images</a>.</p>

<a href="/gaf/section/501" class="btn-u pull-right">Next ></a>

<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>