<h2>Elite</h2>
<pre><code>public Elite(int elitismPercentage)</code></pre>
<p>
    Elitism allows a percentage of the best solutions within the population to pass through to the next 
    generation without being modified. A typical value for percentage is  5 - 10%. For example, a percentage of
    5% with a population of 100, means that the top 5 individuals form part of the next generation. 
    This means that any future generation is at least as good as the current generation.
</p>
<p>
    This helps protect good individuals. However, it can be shown that as the percentage of 
    Elites is increased, the number of duplicates within the population increases. 
    This is normal behaviour for an approach that does not explicitly handle duplicates and 
    is simply due to the convergence of the algorithm. 
</p>
<p>
    The GAF uses a globally unique
    identifier (GUID) for each gene and each chromosome, the GUID can be used to trace the origin 
    of the chromosome and its gene. This makes it easy to identify whether solutions that have
    the same value, are actually the same chromosome. This information can help optimise the GA in terms
    of diversity.
</p>
<p>
    Each solution that is identified as an elite will have its IsElite property set to true.
</p>
<p>    
    This operator does not consider duplicates. To maintain a unique population, ensure that this operator
    is used before any operators that modify the solutions.
</p>

<a href="/gaf/section/404" class="btn-u pull-right">Next ></a>


<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>