<h2>Using a Separate Assembly For Fitness</h2>
<p>It may, on occasions be desirable to place the fitness function within its own,
separate, assembly. This can be achieved by creating a class within a dll that implements the 
IFitness interface.</p>

<p>A complete example of how this can be achieved is given in the examples 
section, <a href="/gaf/section/505">Using a Separate Assembly for Fitness</a>.</p>
