<h2>Genetic Operators</h2>
<p>
    The Genetic Algorithm Framework contains many genetic operators from which to build a 
    genetic algorithm. This section describes each of these in turn.
</p>
<p>
    Genetic Operators as implemented within the GAF are each treated as separate objects 
    that are added to a collection of operators. For example Crossover and Mutate are treated as
    two independent operators.
</p>
<p> 
    The decision of which operators and their parameter values to choose, will depend upon the application. 
    It is quite likely that the optimal settings may only be found through experimentation.
</p>
<p>
    To see a concrete example of how the GA fits together with the genetic operators, please review the  
    examples, in <a href="/gaf/section/5">Solving the Binary F6 Function</a>.
</p>

<a href="/gaf/section/401" class="btn-u pull-right">Next ></a>

<script>

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});

</script>