<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="server" type="GAF.EvaluationServer.Configuration.ServerSection, GAF.EvaluationServer, Version=1.0.0.0, Culture=neutral" />
	</configSections>
	<server>
		<!--<fitness assemblyName="GAF.TravellingSalesman.dll" />-->
		<serviceDiscovery assemblyName="GAF.Consul.dll" ipAddress="192.168.1.90" port="8500" />
		<settings>
			<setting key="" value="" />
		</settings>
	</server>
</configuration>