<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="server" type="GAF.EvaluationServer.Configuration.ServerSection, GAF.EvaluationServer, Version=1.0.0.0, Culture=neutral" />
	</configSections>
	<server>
		<fitness assemblyName="Example.IRemoteFitness.dll" />
		<serviceDiscovery assemblyName="GAF.ServiceDiscovery.dll" type="GAF.ServiceDiscovery.Consul.Client" ipAddress="192.168.1.90" port="8500" />
		<settings>
			<setting key="" value="" />
		</settings>
	</server>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
				<!--<add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="YourLogFile.txt"/>
        <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="YourEventLogSource" />-->
				<remove name="Default" />
			</listeners>
		</trace>
		<switches>
			<!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
			<add name="TraceLevelSwitch" value="3" />
		</switches>
	</system.diagnostics>
</configuration>